@import 'src/styles/vars';

.posts {
  max-width: 800px;
  margin: $gutter auto;

  &-title {
    color: $primary-color;
    font-family: $title-font;
    font-weight: $title-font-weight;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }
}
